/Tournament-Managment-Application/target/
Tournament-Managment-Application/.DS_Store
Tournament-Managment-Application/Files/.DS_Store
Tournament-Managment-Application/src/.DS_Store
Tournament-Managment-Application/src/main/.DS_Store
Tournament-Managment-Application/src/main/java/.DS_Store
